/**
 * @file style.css
 */
 
/**
 * @brief Page background settings
 */
body {
    margin: 0;
    background: #000;
}

/**
 * @brief Background video settings
 */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../media/queenstown-large.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/**
 * @brief Background video fade mode opacity
 */
.stopfade {
    opacity: .5;
}

/**
 * @brief Transparent text block settings (floating pictures)
 */
.textblock-float {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 1rem;
    margin:1rem;
    font-size: 1.6rem;
    float: left;
}

/**
 * @brief Transparent text block settings
 */
.textblock {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 1rem;
    margin:1rem;
    font-size: 1.6rem;
}

/**
 * @brief Row wrapping
 */
div {
    word-wrap: break-word;
}

/**
 * @brief Level 1 headings settings
 */
h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
  	text-align: center;
}

/**
 * @brief Level 2 headings settings
 */
h2 {
    color: white;
  	text-align: center;
}

/**
 * @brief Level 3 headings settings
 */
h3 {
    color: white;
  	text-align: center;
}

/**
 * @brief Level 4 headings settings
 */
h4 {
    color: white;
  	text-align: center;
}

/**
 * @brief Level 5 headings settings
 */
h5 {
    color: white;
  	text-align: center;
}

/**
 * @brief Level 6 headings settings
 */
h6 {
    color: white;
  	text-align: center;
}

/**
 * @brief Paragraph settings
 */
p {
  color: white;
}

/**
 * @brief Video control buttons settings
 */
.button-class {
    display: block;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}

#pause-button-id {
}

#mute-button-id {
}

/**
 * @brief Buttons mouse entering (hover) settings
 */
.textblock button-class:hover {
    background: rgba(0,0,0,0.5);
}

/**
 * @brief Hyperlinks settings
 */
a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: .6s background;
}

/**
 * @brief Hyperlinks mouse entering (hover) settings
 */
a:hover {
    background:rgba(0,0,0,0.5);
}

/**
 * @brief Picture floating settings
 */
.float {
	float: left;
	margin-bootom: 10px;
	margin-right: 10px;
}

/**
 * @brief Places to Visit page background settings
 */
#places-background-id {
  background-image: url('../media/background-places-to-visit.jpg');
  background-repeat: repeat;
  background-size: contain;
  max-width: 1920px;
  max-height: 1080px;
  width: 120%;
  height: 120%;
  overflow: auto;
}

/**
 * @brief Accommodation page background settings
 */
#accommodation-background-id {
  background-image: url('../media/background-accommodation.jpg');
  background-repeat: repeat;
  background-size: contain;
  max-width: 1920px;
  max-height: 1080px;
  width: 120%;
  height: 120%;
  overflow: auto;
}

/**
 * @brief Gallery page background settings
 */
#gallery-background-id {
  background-image: url('../media/background-gallery.jpg');
  background-repeat: repeat;
  background-size: contain;
  max-width: 1920px;
  max-height: 1080px;
  width: 120%;
  height: 120%;
  overflow: auto;
}

/**
 * @brief Newsletter Signup page background settings
 */
#newsletter-signup-background-id {
  background-image: url('../media/background-newsletter-signup.jpg');
  background-repeat: repeat;
  background-size: contain;
  max-width: 1920px;
  max-height: 1080px;
  width: 120%;
  height: 120%;
  overflow: auto;
}

/**
 * @brief First Name input error label color
 */
#labelErrorFirstName {
   color: red;
}

/**
 * @brief Last Name input error label color
 */
#labelErrorLastName {
	color: red;
}

/**
 * @brief Email input error label color
 */
#labelErrorEmail {
	color: red;
}

/**
 * @brief Agreement input error label color
 */
#labelErrorAgreement {
	color: red;
}

/**
 * @brief Media-requests to define background video behaviour
 */
@media screen and (max-device-width: 800px) {
    html { background: url(../media/queenstown-large.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}

@media screen and (max-width: 500px) {
    div{width:70%;}
}
